<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<title>Agencia de Correos Virtual</title>
<body>
<h2>Bienvenido a la agencia de Correos Virtual</h2>
</body>
		{% block content %}

		{% endblock %}
		{% if  user.is_authenticated %}
			<h3> Bienvenido {{user.username}} </h3>
		{% endif %}
		{% if not user.is_authenticated %}
		    <a href="/login">Entrar</a>
		{% endif %}

		{% if user.is_authenticated %}
		   	<a href="/logout">Salir</a>
		{% endif %}

	<h3>Destinatarios</h3>
		<a href ="/entregas/verDestinatario"> <li>Ver destinatarios</li></a>
		<a href ="/entregas/addDestinatario"> <li>Añadir destinatario</li></a>

	<h3>Destinos</h3>
		<a href ="/entregas/verDestino"> <li>Ver destinos</li></a>
		<a href ="/entregas/addDestino"> <li>Añadir destinos</li></a>

	<h3>Paquetes</h3>
		<a href ="/entregas/verPaquetes"> <li>Ver Paquetes</li></a>
		<a href ="/entregas/addPaquetes"> <li>Añadir Paquetes</li></a>

	<h3>Rutas</h3>
		<a href ="/entregas/verRuta"> <li>Ver Rutas</li></a>
		<a href ="/entregas/addRuta"> <li>Añadir Ruta</li></a>
</html>
